.header__logo {
    max-width: 142px;
    margin-top: 45px;
    margin-left: 0;
}

@media screen and (max-width: 1280px) {
    .header__logo {
        margin-top: calc(28px + (45 - 28) * (100vw - 320px)/ (1280 - 320));
        margin-left: calc(0px + (0 - 27) * (100vw - 1280px)/ (1280 - 320));
    }
    
}