.card__btn-add {
    padding: 0;
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-left: auto;
    background-color: #000;
    background-image: url(../../../image/profile__btn-add.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

@media screen and (max-width: 1280px) {
    .card__btn-add {
        width: calc(282px + (150 - 282) * (100vw - 320px) / (1280 - 320));
    }
    
}

@media screen and (max-width: 1003px) {
    .card__btn-add {
        margin: 36px auto 0;
    }
    
}

.card__btn-add:hover {
    opacity: 0.6;
}