.popup__form-text {
    box-sizing: border-box;
    font-family: 'Inter';
    width: 100%;
    border: 0;
    padding: 0;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.popup__form-text::placeholder {
    font-family: 'Inter';
}


.popup__form-text:first-of-type {
    margin-top: 51px;
}


.popup__form-text:last-of-type {
    margin-top: 27px;
}

@media screen and (max-width: 1280px) {
    .popup__form-text:first-of-type {
        margin-top: calc(72px + (51 - 72) * (100vw - 320px) / (1280 - 320));
    }
    
}