.profile__data-name {
    width: 294px;
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: flex-end;
}

@media screen and (max-width: 1280px) {
    .profile__data-name {
    font-size: calc(27px + (42 - 27) * (100vw - 320px) / (1280 - 320));
    line-height: calc(33px + (48 - 33) * (100vw - 320px) / (1280 - 320));
    width: calc(189px + (294 - 189) * (100vw - 320px) / (1280 - 320));
    }
    
}

@media screen and (max-width: 647px) {
    .profile__data-name {
        text-align: center;
    }
    
}