.profile {
    max-width: 880px;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    
}

@media screen and (max-width: 1280px) {
    .profile {
        max-width: calc(282px + (880 - 282) * (100vw - 320px) / (1280 - 320));
    }
    
}

@media screen and (max-width: 1003px) {
    .profile {
        justify-content: center;
    }
    
}