.card__like-item {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.card__like-item + .card__like-pseudo {
    background-image: url(../../../image/card__like.svg);
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.card__like-item:not(:checked):hover + .card__like-pseudo {
    opacity: 0.5;
}

.card__like-item:checked + .card__like-pseudo {
    background-image: url(../../../image/card_like_acitive.svg);
}